body{
    margin: 0%;
    padding: 0%;
    background-image: url(1.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.back{
    margin-left: 50px;
    margin-top: 25px;
    width: 9%;
    height: 40px;
    font-size: large;
}
.back:hover{
    background-color: red;
}

.colet{
    margin-left: 8.2%;
    margin-top:  16.9%;
    height: 35px;
    width: 13%;
    font-size: large;
    background-color: aquamarine;

}

.aiah{
    margin-left: 10%;
    width: 12.8%;
    height: 35px;
    font-size: large;
    background-color: aquamarine;

}

.maloi{
    margin-left: 10.5%;
    width: 13%;
    height: 35px;
    font-size: large;
    background-color: aquamarine;

}

.stacey{
    margin-left: 10%;
    width: 14%;
    height: 35px;
    font-size: large;
    background-color: aquamarine;
}
.mikha{
    margin-left: 8%;
    margin-top: 18.7%;
    height: 35px;
    width: 13%;
    font-size: large;
    background-color: aquamarine;
}

.jhoanna{
    margin-left: 10%;
    width: 13.5%;
    height: 35px;
    font-size: large;
    background-color: aquamarine;
}

.sheena{
    margin-left: 9%;
    width: 14%;
    height: 35px;
    font-size: large;
    background-color: aquamarine;
}

.gwen{
    margin-left: 9%;
    width: 14%;
    height: 35px;
    font-size: large;
    background-color: aquamarine;

}

.colet:hover{
    background-color: red;
}
.aiah:hover{
    background-color: red;
}
.maloi:hover{
    background-color: red;
}
.stacey:hover{
    background-color: red;
}
.mikha:hover{
    background-color: red;
}
.jhoanna:hover{
    background-color: red;
}
.sheena:hover{
    background-color: red;
}
.gwen:hover{
    background-color: red;
}