body{
    background-image: url(2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.insert{
    margin-left: 14.5cm;
    margin-top: 7.8cm;   
}

.ins{
    width: 30%;
    height: 40px;
}

.btn{
    margin-top: 18px;
    margin-left: 59px;
    width: 100px;
    height: 60px;
    font-size: large;
    background-color: aqua;
}

.btn:hover{
    background-color: red;
}
